In [1]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle

In [2]:
#load the data 
data = pd.read_csv("creditcard.csv")

In [3]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#check for missing values 
res = data.isnull().sum()

In [7]:
#distribution of legit and fraudtrnsactions 
print(data['Class'].value_counts())

0    284315
1       492
Name: Class, dtype: int64

In [8]:
#seperating the data for analysis 
#0 -  normal transaction 
#1 - fraud transaction 

legit = data[data.Class==0]
fraud = data[data.Class==1] 

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
#statistical measures of the both data 

legit_amt = legit.Amount.describe()
print(legit_amt)

fraud_amt = fraud.Amount.describe()
print(fraud_amt)

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64
count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
#compare the values for both transaction 

mean = data.groupby("Class").mean()
print(mean)

               Time        V1        V2        V3        V4        V5  \
Class
0      94838.202258  0.008258 -0.006271  0.012171 -0.007860  0.005453
1      80746.806911 -4.771948  3.623778 -7.033281  4.542029 -3.151225

             V6        V7        V8        V9  ...       V20       V21  \
Class                                          ...
0      0.002419  0.009637 -0.000987  0.004467  ... -0.000644 -0.001235
1     -1.397737 -5.568731  0.570636 -2.581123  ...  0.372319  0.713588

            V22       V23       V24       V25       V26       V27       V28  \
Class
0     -0.000024  0.000070  0.000182 -0.000072 -0.000089 -0.000295 -0.000131
1      0.014049 -0.040308 -0.105130  0.041449  0.051648  0.170575  0.075667

           Amount
Class
0       88.291022
1      122.211321

[2 rows x 30 columns]

In [11]:
#under samplling 
#sample dataset containing 

legit_sample = legit.sample(n=492)

In [12]:
#concatinating two data frames

new_dataset = pd.concat([legit_sample,fraud],axis= 0)

In [13]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
228871,145698.0,-0.487093,0.055664,1.944689,0.791311,-0.397429,0.885446,-0.423412,0.521764,0.970500,...,0.061988,0.348082,-0.131550,-0.450386,-0.236552,-0.612900,0.021885,0.051616,40.93,0
21308,31593.0,1.121634,0.191394,0.524789,1.320237,-0.179961,0.019149,-0.034526,0.115144,0.007885,...,-0.040273,0.104268,-0.044142,0.233717,0.610566,-0.341737,0.038267,0.006663,1.00,0
168420,119219.0,-1.149822,0.275420,1.843316,0.329753,1.231708,0.537072,0.155928,0.362447,-0.645145,...,-0.114517,-0.590869,-0.091528,0.161312,0.441692,-0.798300,0.059872,0.088204,34.40,0
112945,72865.0,1.319141,0.244648,0.166705,0.421935,-0.050779,-0.507411,0.060523,-0.165563,0.066255,...,-0.309704,-0.879329,0.029794,-0.454210,0.337379,0.145772,-0.028627,0.011062,1.98,0
13120,23032.0,0.988943,-0.178733,1.266715,1.612170,-0.806239,0.268813,-0.675836,0.141544,2.079999,...,0.036859,0.373551,-0.102125,0.029168,0.363853,-0.257242,0.040217,0.037265,76.60,0

In [14]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [15]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93242.997967,0.071588,-0.019368,0.107221,0.071175,0.033295,-0.056407,-0.057697,0.029406,0.087961,...,-0.059675,-0.038647,-0.002778,0.026440,-0.013968,-0.027303,-0.018521,0.029060,0.016530,72.642988
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
#split the data into feature and target 

X = new_dataset.drop(columns="Class",axis=1)
Y = new_dataset['Class']

print(X)

            Time        V1        V2        V3        V4        V5        V6  \
228871  145698.0 -0.487093  0.055664  1.944689  0.791311 -0.397429  0.885446
21308    31593.0  1.121634  0.191394  0.524789  1.320237 -0.179961  0.019149
168420  119219.0 -1.149822  0.275420  1.843316  0.329753  1.231708  0.537072
112945   72865.0  1.319141  0.244648  0.166705  0.421935 -0.050779 -0.507411
13120    23032.0  0.988943 -0.178733  1.266715  1.612170 -0.806239  0.268813
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
228871 -0.423412  0.521764  0.970500  ... -0.230349  0.061988  0.348082
21308  -0.034526  0.115144  0.007885  ... -0.196987 -0.040273  0.104268
168420  0.155928  0.362447 -0.645145  ...  0.274908 -0.114517 -0.590869
112945  0.060523 -0.165563  0.066255  ... -0.050388 -0.309704 -0.879329
13120  -0.675836  0.141544  2.079999  ... -0.102679  0.036859  0.373551
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
228871 -0.131550 -0.450386 -0.236552 -0.612900  0.021885  0.051616   40.93
21308  -0.044142  0.233717  0.610566 -0.341737  0.038267  0.006663    1.00
168420 -0.091528  0.161312  0.441692 -0.798300  0.059872  0.088204   34.40
112945  0.029794 -0.454210  0.337379  0.145772 -0.028627  0.011062    1.98
13120  -0.102125  0.029168  0.363853 -0.257242  0.040217  0.037265   76.60
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [18]:
print(Y)

228871    0
21308     0
168420    0
112945    0
13120     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [19]:
#split the data into Training  and testing data 

X_train,X_test,Y_train,Y_test = train_test_split(X, Y,test_size=0.2,stratify = Y,random_state=2)

In [20]:
#Model
model = LogisticRegression()

In [21]:
model.fit(X_train,Y_train)

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
#Accuracy on Trainig data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [23]:
print('Accuracy on Training data',training_data_accuracy)

Accuracy on Training data 0.951715374841169

In [24]:
#Accuracy on test data

X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [25]:
print('Accuracy on Testing data',testing_data_accuracy)

Accuracy on Testing data 0.9390862944162437

In [27]:
#model creation using pickel

f = None
try:
	f = open("creditcard.model","wb")
	pickle.dump(model,f)
except Exception as e:
	print("Issue",str(e))
finally :
	if f is not None:
		f.close()